/* Partially by Joshua Cole, use it if you want too. */

/* Layout and Flow =============================================================
Set up two columns.
==============================================================================*/
#container {
    overflow:hidden;
    width:800px;
}

#content{
    width:600px;
    border-right:200px solid white;
    /* The width and color of the rail */
    margin-right:-200px; /* Hat tip to Ryan Brill */
    float:left;
    margin-left: 50px;
}

#rail {
    width:150px;
    float:left;
    padding-left: 50px;
}

/* Typography =================================================================
Get everything readable. Add a bit of bold gray so things don't look too bland.
Also make the links larger and less dynamic. Make the top link hup the page.
==============================================================================*/
html {
    line-height: 1.5em;
    font-size: 20px;
    font-family:Georgia,Utopia,Palatino,'Palatino Linotype',serif;
    margin: 0px;
    padding: 0px;
}

.emphasis {
    font-weight: bold;
    color: #545753;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 16px;
    margin: 0;
    padding:0;
}
/* Projects Styling ============================================================
Make the projects compact and ensure that the link to the site is in the same
place every time.
==============================================================================*/
.project {
    margin:20 0px;
}

h2 {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.project p {
    margin: 0px;
    padding: 0px;
}

.projects a {
    float: right;
}

/* Project Details =============================================================
Make the view of the projects details distinct from all the other elements. Also
ensure that the details don't start out visible.
==============================================================================*/
.details {
    background-color:#D8D8D8;
    padding: 10px;
    display: none;
}
