/* Typography =================================================================
Get everything readable. Add a bit of bold gray so things don't look too bland.
Also make the links larger and less dynamic.
==============================================================================*/
html {
/*    line-height: 1.5em; */
    font-size: 20px;
    font-family:Georgia,Utopia,Palatino,'Palatino Linotype',serif;
    margin: 0px;
    padding: 0px;
}

em {
    font-weight: bold;
    color: #545753;
    font-style: normal;
}